@import './Mixins';

.welcome-div {
    @include mobile(){
        width: 100%;
    }
}

.nbp-background {
    width: 100%;
    margin-top: 0%;
}

.packages {
    @include mobile(){
        padding-top: 3%;
    }
}
.card-title {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    border-bottom: 1.2px solid gray;
    background: lightGray; 
    width: 100%;
    color: black;
}

.ant-typography {
    color: whitesmoke;
}
.package {
    @include mobile(){
        width: 80%;
        font-size: 1rem;
        // background-color: lightgray;
        border: 2px inset black;
        margin: 2%;
        background-color: black;
        
        // background-image: url("../Images/conner.jpg");
        
    }
}

.package-align {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}
