@import './Mixins';


.welcome-div {

}

.packages {
    @include mobile(){
        padding-top: 3%;
    }
}

.package-align {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.single-package {
    // border: 1px solid black;
    width: 70%;
    padding: 3%;
    margin: 2%;
}